#login {
  margin: 0;
  padding: 0;
  height: 100vh;
}
.signin_title {
  font-size: 40px;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 8px !important;
}
.login_right {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.two_step_form {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
}
.form_feilds_container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.login_btn_container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

/* input form details */
.login_inputContainer {
  width: 100%;
}
.login_inputContainer > label {
  color: #345053;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 0 !important;
}
.login_inputContainer > input {
  margin: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  background: #f5faff;
  border: 2px solid rgb(25, 30, 49);
}

.login_inputContainer > input:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(28, 57, 171, 0.4);
}
.login_inputContainer > select:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(28, 57, 171, 0.4);
}

.login_inputContainer > input::placeholder {
  color: rgba(0, 0, 0, 0.346);
}
.login_inputContainer > input:focus {
  outline: none;
  border: 2px solid #176eccc5;
}
.login_inputContainer > select {
  margin: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(103, 103, 103);
  padding: 10px;
  width: 100%;
  background: #f5faff;
  border: 2px solid rgb(25, 30, 49);
}
.login_inputContainer > select:focus {
  outline: none;
  border: 2px solid #176eccc5;
}
.login_inputContainer > textarea {
  margin: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  width: 100%;
  background: #f5faff;
  /* border: 2px solid #67809ac5; */
  border: 2px solid rgb(25, 30, 49);
}
.login_inputContainer > textarea::placeholder {
  color: rgba(0, 0, 0, 0.346);
}
.login_inputContainer > textarea:focus {
  outline: none;
  border: 2px solid #176eccc5;
}
.login_dots_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.login_dots_container > .dot {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #dededebb;
  display: flex;
  color: black;
  font-weight: 400;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.login_dots_container > .line {
  height: 1.5px;
  width: 80%;
  background-color: #dededebb;
}
.active_line {
  /* background-color: #67809a !important; */
  background-color: rgb(25, 30, 49) !important;
}
.active_dot {
  /* background-color: #67809a !important; */
  background-color: rgb(25, 30, 49) !important;
  color: white !important;
}
.login_contact_support {
  color: #67809a;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
  transform: translateY(-20px);
}
.contact_support_link {
  /* color: #67809a; */
  color: rgb(25, 30, 49);
  font-weight: bolder;
  /* text-decoration: underline; */
  cursor: pointer;
}
.contact_support_link:hover {
  /* color: #67809a; */
  color: rgb(25, 30, 49);
}
.error {
  color: red;
}
@media (width < 500px) {
  .two_step_form {
    width: 100%;
  }
  .signin_title {
    font-size: 35px;
  }
}

.sign {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  background: linear-gradient(135deg, #0f5f68 0%, #0a1f4ec0 100%);
  padding: 10px;
  color: #000;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin-top: 6px;
  box-sizing: border-box;
}

.sign:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 30px rgba(28, 57, 171, 0.4);
}
a,
.contact_support_link {
  position: relative;
  text-decoration: none;
}

a::after,
.contact_support_link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: rgba(15, 26, 45, 0.979);

  transition: width 0.3s ease;
}

a:hover::after,
.contact_support_link:hover::after {
  width: 100%;
}
